@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Righteous&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7a3a3;
  font-family: "Arial", sans-serif;
}

.container {
  text-align: center;
}
.container h1 {
  font-family: "Great Vibes";
  font-weight: 900;
  font-style: normal;
  font-size: 4.3rem;
}

.header_text {
  font-size: 3em;
  color: #d32f2f;
  font-family: sans-serif;
}

.gif_container img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
